body {
    background-color: rgb(34, 33, 33);
    font-family:'Courier New', Courier, monospace;
}

p {
    text-align: center;
    color: white;
    margin: 50px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}