body {
    background-color: rgb(34, 33, 33);
    font-family:'Courier New', Courier, monospace;
    margin: 100px;
}

p {
    text-align: center;
    color: white;
    margin: 50px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

h2 {
    color: white;
}

ul {
    color: white;
    font-size: 20px;
}

ol {
    color: white;
    font-size: 20px;
}

img {
    display: block;
    margin: 0 auto;
    height: 600px;
}